<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/">FINANSY$</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">   
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/lancamentos">Lançamentos</a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Personalização
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/categorias">Categorias</a>
          <a class="dropdown-item" routerLink="/status">Status</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Relatórios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/relatorios">Relatório Periódico</a>
        </div>
      </li>     
    </ul>
  </div>
</nav>