<app-bread-crumb [items]="[{text: 'Lançamentos', link: '/lancamentos'}, {text: pageTitle}]"></app-bread-crumb>
<app-page-header [page-title]="pageTitle" [buttons]="
     currentAction == 'preview' ?
     [{text: 'Novo Lançamento', link: '/lancamentos/novo', class: 'btn-primary'},
      {text: 'Editar Lançamento', link: '/lancamentos/' + getResourceId() + '/editar', class: 'btn-warning'}]
     : currentAction == 'edit' ? [{text: 'Novo Lançamento', link: '/lancamentos/novo', class: 'btn-primary'}] : null">
</app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card mb-4">
        <div class="card-header">
            Informações sobre o lancamento
        </div>
        <div class="card-body">
            <div class="form-row">

                <!--despesa-->
                <div class="form-group col-md-2">
                    <label for="despesa">Tipo</label><br>
                    <div class="btn-group">
                        <label (click)="currentAction == 'preview' ? null: resourceForm.get('despesa').setValue(true)"
                            [class.active]="resourceForm.get('despesa').value ==  true"
                            [class.btn-outline-info]="currentAction != 'preview'"
                            [class.btn-preview-on]="currentAction == 'preview' && resourceForm.get('despesa').value ==  true"
                            [class.btn-preview-off]="currentAction == 'preview' && resourceForm.get('despesa').value ==  false"
                            class="btn btn-outline-info">Despesa</label>
                        <label (click)="currentAction == 'preview' ? null: resourceForm.get('despesa').setValue(false)"
                            [class.active]="resourceForm.get('despesa').value == false"
                            [class.btn-outline-info]="currentAction != 'preview'"
                            [class.btn-preview-on]="currentAction == 'preview' && resourceForm.get('despesa').value ==  false"
                            [class.btn-preview-off]="currentAction == 'preview' && resourceForm.get('despesa').value ==  true"
                            class="btn">Receita</label>
                    </div>
                </div>

                <!--NOME-->
                <div class="form-group col-md-6">
                    <label for="nome">Nome</label>
                    <input [readOnly]="currentAction == 'preview'" type="text" class="form-control" id="nome"
                        formControlName="nome">
                    <app-form-field-error [form-control]="resourceForm.get('nome')"></app-form-field-error>
                </div>

                <!--DATA-->
                <div class="form-group col-md-2">
                    <label for="data">Data</label>
                    <p-calendar [disabled]="currentAction == 'preview'" id="data" formControlName="data"
                        inputStyleClass="form-control" dataType="string" dateFormat="dd/mm/yy" [locale]="ptBr"
                        [showButtonBar]="true">
                    </p-calendar>
                    <app-form-field-error [form-control]="resourceForm.get('data')"></app-form-field-error>
                </div>

            </div>

            <div class="form-row">

                <!--DESCRIÇAO-->
                <div class="form-group col-md-8">
                    <label for="descricao">Descricao</label>
                    <input [readOnly]="currentAction == 'preview'" type="text" class="form-control" id="descricao"
                        formControlName="descricao">
                    <app-form-field-error [form-control]="resourceForm.get('descricao')"></app-form-field-error>
                </div>

                <!--VALOR-->
                <div class="form-group col-md-2">
                    <label for="valor">Valor</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [readOnly]="currentAction == 'preview'" [imask]="imaskConfig" type="text"
                            class="form-control text-right" id="valor" formControlName="valor">
                    </div>
                    <app-form-field-error [form-control]="resourceForm.get('valor')"></app-form-field-error>
                </div>

                <!--parcelado-->
                <div class="form-group col-md-2" *ngIf="resourceForm.get('despesa').value ==  true">
                    <label for="parcelado">Foi parcelado?</label><br>
                    <div class="btn-group">
                        <label (click)="currentAction == 'preview' ? null: resourceForm.get('parcelado').setValue(true)"
                            [class.active]="resourceForm.get('parcelado').value ==  true"
                            [class.btn-outline-info]="currentAction != 'preview'"
                            [class.btn-preview-on]="currentAction == 'preview' && resourceForm.get('despesa').value ==  true"
                            [class.btn-preview-off]="currentAction == 'preview' && resourceForm.get('despesa').value ==  false"
                            class="btn">Sim</label>
                        <label
                            (click)="currentAction == 'preview' ? null: resourceForm.get('parcelado').setValue(false)"
                            [class.active]="resourceForm.get('parcelado').value == false"
                            [class.btn-outline-info]="currentAction != 'preview'"
                            [class.btn-preview-on]="currentAction == 'preview' && resourceForm.get('despesa').value ==  false"
                            [class.btn-preview-off]="currentAction == 'preview' && resourceForm.get('despesa').value ==  true"
                            class="btn">Não</label>
                    </div>
                </div>

            </div>
            <div class="form-row">

                <!--QUANTIDADE PARCELAS-->
                <div class="form-group col-md-3"
                    *ngIf="resourceForm.get('despesa').value ==  true && resourceForm.get('parcelado').value ==  true">
                    <label for="qntParcelas">Quantidade de Parcelas</label>
                    <input [readOnly]="currentAction == 'preview'" [imask]="numberConfig" type="text" id="qntParcelas"
                        class="form-control text-right class-parcelado" formControlName="qntParcelas">
                    <div class="text-danger"
                        *ngIf="resourceForm.get('parcelado').value ==  true && resourceForm.get('qntParcelas').touched">
                        <div
                            *ngIf="resourceForm.get('qntParcelas').value == '' || resourceForm.get('qntParcelas').value == null">
                            Campo obrigatório</div>
                    </div>
                </div>

                <!--VALOR DE CADA PARCELA-->
                <div class="form-group col-md-3"
                    *ngIf="resourceForm.get('despesa').value ==  true && resourceForm.get('parcelado').value ==  true">
                    <label for="valor">Valor de Cada Parcela</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">R$</div>
                        </div>
                        <input [readOnly]="currentAction == 'preview'" [imask]="imaskConfig" type="text"
                            id="vlrParcelas" class="form-control text-right class-parcelado" id="vlrParcelas"
                            formControlName="vlrParcelas">
                    </div>
                    <div class="text-danger"
                        *ngIf="resourceForm.get('parcelado').value ==  true && resourceForm.get('vlrParcelas').touched">
                        <div
                            *ngIf="resourceForm.get('vlrParcelas').value == '' || resourceForm.get('vlrParcelas').value == null">
                            Campo obrigatório</div>
                    </div>
                </div>

                <!--CATEGORIA-->
                <div class="form-group col-md-3">
                    <label for="categoriaId">Categoria</label>
                    <select name="categoriaId" id="categoriaId" formControlName="categoriaId" class="form-control">
                        <option *ngFor="let category of categories" value="{{category.id}}">
                            {{category.nome}}</option>
                    </select>
                    <app-form-field-error [form-control]="resourceForm.get('categoriaId')"></app-form-field-error>
                </div>

                <!--STATUS-->
                <div class="form-group col-md-3">
                    <label for="statusId">Situação</label>
                    <select name="statusId" id="statusId" formControlName="statusId" class="form-control teste">
                        <option *ngFor="let situacao of status" value="{{situacao.id}}">
                            {{situacao.nome}}</option>
                    </select>
                    <app-form-field-error [form-control]="resourceForm.get('statusId')"></app-form-field-error>
                </div>

            </div>

        </div>
    </div>
    <app-server-error-messages [server-error-messages]="severErrorMessages" ></app-server-error-messages>

    <button [disabled]="submittingForm || resourceForm.invalid || currentAction == 'preview'" type="submit"
        class="btn btn-primary btn-lg float-right ml-2 mb-4">Salvar</button>
    <a routerLink="/lancamentos" class="btn btn-light btn-lg float-right">Voltar</a>
</form>