.btn-light{
    background-color: #edf0f3;
}

.btn-preview-off {
    color: #17a2b8;
    border-color: #17a2b8;
    background-color: #fff;
} 

.btn-preview-on {
    color: #fff;
    border-color: #17a2b8;
    background-color:  #17a2b8;
} 

